<!doctype html>
<title>Work Time Logger</title>
<section>
    <table>
        <tr>
            <th></th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Sum</th>
        </tr>
        <tr>
            <th>Time in office</th>
            {% for day in range(5) %}
            {% if week_data_len[day]%60 < 10 %}
            <td>{{week_data_len[day]//60}}:0{{week_data_len[day]%60}}</td>
            {% else %}
            <td>{{week_data_len[day]//60}}:{{week_data_len[day]%60}}</td>
            {% endif %}
            {% endfor %}
            {% if sum(week_data_len)%60 < 10 %}
            <th>{{sum(week_data_len)//60}}:0{{sum(week_data_len)%60}}</th>
            {% else %}
            <th>{{sum(week_data_len)//60}}:{{sum(week_data_len)%60}}</th>
            {% endif %}
        </tr>
        <tr>
            <th>Time not in sleep</th>
            {% for day in range(5) %}
            <td>{{calculate_nonsleep_time(week_data[day])}}</td>
            {% endfor %}
            <th>{{calculate_nonsleep_time(week_data[0]+week_data[1]+week_data[2]+week_data[3]+week_data[4])}}</th>
        </tr>
        <tr>
            <th>Start time</th>
            {% for day in range(5) %}
            {% if week_data_len[day] > 0 %}
            <td>{{render_time(week_data[day][0][1])}}</td>
            {% else %}
            <td></td>
            {% endif %}
            {% endfor %}
        </tr>
        <tr>
            <th>End time</th>
            {% for day in range(5) %}
            {% if week_data_len[day] > 0 %}
            <td>{{render_time(week_data[day][-1][1])}}</td>
            {% else %}
            <td></td>
            {% endif %}
            {% endfor %}
        </tr>
    </table>
    <div>
        <a href="/{{time_difference-1}}">Previous week ({{time_difference-1}})</a><br>
        <a href="/">This week</a><br>
        <a href="/{{time_difference+1}}">Next week ({{time_difference+1}})</a>
    </div>
</section>